<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sedoc.sedocuments.dao.AccessMapper">
    <!--丁佳男-->
    <!--查询所有权限-->
    <select id="queryAllAccess" resultType="Access">
        select * from access
        <where>
            <if test="title!=null and title!=''">
                and title like CONCAT("%",#{title},"%")
            </if>
            <if test="isDel!=null">
                and isDel=#{isDel}
            </if>
        </where>
    </select>

    <!--根据角色查询权限-->
    <select id="queryAccessByRoleid" resultType="Access">
        select DISTINCT t1.* from access t1 INNER JOIN role_access t2
        ON(t1.accessid=t2.accessid and t1.isDel=#{isDel})
        where t2.roleid=#{roleid}
    </select>
</mapper>