<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sedoc.sedocuments.dao.PasswordMapper">
    <!--yaozeng-->
    <!--获取密码-->
    <select id="getPasswordByUid" parameterType="User" resultType="User">
        select * from user where uid=#{uid} and isDel!=0
    </select>

    <update id="updatePasswordByUid" parameterType="User">
        update user set password=#{password} where uid=#{uid} and isDel!=0
    </update>
</mapper>